.hero-body {
    background-color: #A3D5FF !important;
    color: #CF4D6F;
}

#greeting {
    color: #CF4D6F;
}

#data-header{
    font-size: 1.5rem;
    text-decoration: underline;
}

#data {
    background-color: #D9F0FF;
    padding: 1rem 2rem;
}

#save{
    transition-duration: .4s ;
    color: #CF4D6F;
    background-color: #A3D5FF;
    width: 20%;
    border: 2px solid #CF4D6F;
}

#save:hover {
    background-color: #CF4D6F;
    color: #A3D5FF;
    box-shadow: 0 6px 8px 0 #A3D5FF;
    border: 2px solid #A3D5FF;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#search-form {
    padding-left: 25px;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: auto auto;
}

#srch-input {
    background-color: #D9F0FF;
    color: #CF4D6F;
    border: 2px solid #CF4D6F;
    text-align: center;
}

#srch-input::placeholder{
    color: #E59EB1;
}

.search-item{
    border-radius: 12px;
}

#searchBtn{
    transition-duration: .4s ;
    color: #CF4D6F;
    background-color: #A3D5FF;
    border: 1px solid #CF4D6F;
    margin-inline: 25%;
    text-align: center;
    grid-column: 1/4;

}

#searchBtn:hover {
    background-color: #CF4D6F;
    color: #A3D5FF;
}

.hero-body{
    padding-right: 12px !important;
}



#modal{
    background-color: #CF4D6F;
}